<div class="container">

  <app-game-control (gameStarted)="onGameStarted($event)">

  </app-game-control>

  <div class="row">

    <div class="col-xs-6">

      <app-even *ngFor="let evenElement of evenElements"
      [evenComponentNumber]="evenElement">

        <p style="color: red">
          {{evenElement}}
        </p>

      </app-even>



    </div>

    <div class="col-xs-6">
      <app-odd *ngFor="let oddElement of oddElements"
               [oddComponentNumber]="oddElement">

        <p style="color:blue">
          {{oddElement}}
        </p>

      </app-odd>
    </div>

  </div>

</div>
